name: Lint

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      statuses: write # Status updates

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Type check
        run: npm run type-check

      - name: Lint
        run: npm run lint-ci

      - name: Action Lint
        uses: reviewdog/action-actionlint@a5524e1c19e62881d79c1f1b9b6f09f16356e281 # v1.65.2
        with:
          # Different options are required to run in ACT
          reporter: ${{ (env.ACT != '') && 'local' || 'github-pr-check' }}
          filter_mode: ${{ (env.ACT != '') && 'nofilter' || 'file' }}
          actionlint_flags: ${{ (env.ACT != '') && '--verbose' || '' }}
